<%= form_for(emprestimo, validate: true) do |f| %>
  <% if emprestimo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emprestimo.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
      <% emprestimo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aluno %>
    <%= f.select(:aluno_id, @alunos.map{|x| [x.nome, x.id]}) %>
  </div>

  <div class="field">
    <%= f.label :livro %>
    <%= f.select(:livro_id, @livros.map{|x| [x.nome, x.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit "Criar Empréstimo" %>
  </div>
<% end %>
