<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=menu>
      <%= link_to 'Livros', livros_path %>
      <%= link_to 'Alunos', alunos_path %>
      <%= link_to 'Empréstimos', emprestimos_path %>
    </div>
    <%= yield %>
  </body>
</html>
